h2 {
  border-left: 5px solid #FEAD34;
  padding-left: 10px;
  margin-bottom: 15px;
}

.bet-title {
  border-left: 5px solid #FEAD34;
  padding-left: 10px;
  margin-bottom: 15px;

  h4 {
    margin-bottom: 0px;
  }
}

.bg-second {
  background-color: $second;
}

.bg-light {
  background-color: #f5f5f5;
}

.bet-infos {
  p {
    font-size: 18px;
  }
}

