.infos-user span {
  font-size: 22px;
}

i {
  margin-right: 16px;
}

.fa-crown {
  color: #E8BE00;
}
.fa-poop {
  color: #512700;
}
.fa-gem {
  color: $main;
}
.fa-user-friends {
  color: #E8B5A0;
}
