<%= render './shared/mini-navbar-tournament' %>
<%= render './tournaments/shared/show' %>
<span>
  Ajouter un bouton pour voir nos paris puis en ajouter au tournoi un à la fois
</span>
<span>
  Ajouter le lien partageable pour que les autres puissent rejoindre le tournoi,
  Ce lien n'est disponible que pour les joueurs ayant rejoins le tournoi et
  que la date d'inscription n'est pas franchie
</span>
