<% if Bet::PROGRESS[@progress.to_sym] == 3 %>
  <%= simple_form_for [:my, @bet], :input_html=>{:action=>"/my/bets/:id", method: "PATCH"} do |f| %>

    <span class="Ton choix"> Résultat du pari <span style="text-decoration: underline dotted;">*</span></span>
    <div class="result-btns">
      <%= f.input_field :result, inline_label: 'Remember me', label: false,
              :collection => [[true, 'Bro'], [false, 'No Bro']],
              :label_method => :last,
              :value_method => :first,
              :as => :radio_buttons,
              :input_html => { class: "bro-btn" },
              :label_html => { class: "bro-btn" },
              :checked => true %>
    </div>
    <%= f.submit "Je valide" , class: "btn-new-bet" %>
  <% end %>
<% end %>
