<% if Bet::PROGRESS[@progress.to_sym] >= 4  %>
  <% if @user_result %>
    <span class="bet-result winner">You win !</span>
  <% else %>
    <span class="bet-result loser">Loser !</span>
  <% end %>
<% end %>
