
<div class=banner>
  <div class="photo-banner" style="background-image: url('https://res.cloudinary.com/dv1x9ot6j/image/upload/v1598523002/Capture_d_e%CC%81cran_2020-08-27_a%CC%80_11.50.30_qfmsyd.png')">
    <button class="btn-new-bet btn-home">Crée ta Bet !</button>
  </div>
</div>

<div class="card-home">
  <img src="https://images.unsplash.com/photo-1551730459-92db2a308d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80" />
  <div class="card-home-infos">
    <h3>BroBet, les paris sont ouverts!</h3>
    <p>Envie de pimenter tes soirées en potes? Crée ton BroBet et lance les paris! Qui sera <strong>Bro</strong>? Qui sera <strong>No Bro</strong>?</p>
  </div>
</div>

<div class="card-home">
  <div class="card-home-infos card-reverse">
    <h3>Les tournois BroBet, la plateforme multi-paris!</h3>
    <p>Tu pars en vacances entre potes? Créez un tournoi à plusieurs et lancez la compétition avec vos <strong>BroBets</strong>! Que le meilleur gagne!</p>
  </div>
  <img src="https://images.unsplash.com/photo-1578269174936-2709b6aeb913?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" />
</div>

<div class="card-home">
  <img src="https://images.unsplash.com/photo-1582298538104-fe2e74c27f59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" />
  <div class="card-home-infos">
    <h3>Suis ton évolution de BroBetteur!</h3>
    <p>Découvre celui à qui tu mets le plus la paté -- ton <strong>Poop's Bro</strong>, celui avec qui tu envoies le plus de paté -- ton <strong>Golden's Bro</strong>, et ton âme-soeur Brobetteur avec qui tu paries sans modération -- ton <strong>Bro 4 life</strong>./p>
  </div>
</div>
