<div class="banner" style="background-image: url('https://res.cloudinary.com/dv1x9ot6j/image/upload/v1598523002/Capture_d_e%CC%81cran_2020-08-27_a%CC%80_11.50.30_qfmsyd.png')">
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quidem libero, inventore quibusdam nisi voluptates iste similique veritatis sunt. Quidem incidunt magni atque placeat tenetur, similique fugiat nemo optio itaque.</p>
