<span>
  <% if !@available_bonuses.nil? %>
    <% @available_bonuses.each do |bonus| %>
      <% if bonus.user == current_user %>
        <%= bonus.bonuse.title %>
      <% end %>
    <% end %>
  <% end %>
</span>
