<h2 class="text-center mt-2 mb-4">Bonus BroBet</h2>

<p class="text-bonus mb-4">Pour chaque pari, uniquement en mode tournoi, tu disposes d'un ou plusieurs bonus distribué(s) aléatoirement, qui te permettent d'avancer (ou pas) dans le classement.</p>

<% @bonuses.each do |bonus| %>
  <div class="bet-background-lg bonus-row d-flex flex-column align-items-center justify-content-center my-4">
    <%= cl_image_tag bonus.photo.key, class: "avatar avatar-classement mb-3" %>
    <h4 style="font-weight: bold;"><%= bonus.title.capitalize %> </h4>
    <span class="bonus-description text-bonus"><%= bonus.description %> </span>
  </div>
<% end %>
