<h2 class="text-center">Bonus</h2>

<p>Ils sont uniquement disponibles en mode tournois.</p>
<p>Pour chaque pari d'un tournoi, vous disposez d'un ou plusieurs bonus, distribué(s) aléatoirement.</p>
<p>Pouvoir de chacun des bonus</p>
