<%= render "./shared/mini-navbar-tournament" %>
<h2 class="text-center">Classement</h2>
<% @participations.each_with_index do |participation| %>
    <p> <%= participation.user.nickname %> - <%= participation.score %> </p>
<% end %>
