
<%= simple_form_for [@bet, bet_participation] do |f| %>

  <span class="Ton choix"> Fais ton choix</span>
  <div class="result-btns">
    <%= f.input_field :user_choice, inline_label: 'Remember me', label: false,
            :collection => [[true, 'Bro'], [false, 'No Bro']],
            :label_method => :last,
            :value_method => :first,
            :as => :radio_buttons,
            :input_html => { class: "bro-btn" },
            :label_html => { class: "bro-btn" },
            :checked => true %>
  </div>
  <div class="d-flex justify-content-center">
    <%= f.submit "Je valide" , class: "btn-new-bet" %>
  </div>
<% end %>
