<div class="sides">
  <a data-toggle="modal" data-target="#participants-no-closed">
    <div class="avatars">
      <% @bet.in_users.each_with_index do |participant, index| %>
        <% if index > 0 %>
          <%= image_tag "avatar-#{rand(1..9)}", alt: "avatar-bordered", class: "avatar-bordered", style: "margin-left: -16px" %>
        <% else %>
          <%= image_tag "avatar-#{rand(1..9)}", alt: "avatar-bordered", class: "avatar-bordered" %>
        <% end %>
      <% end %>
    </div>
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="participants-no-closed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="exampleModalLongTitle">Participants</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around">
        <div class="d-flex flex-column">

          <% BetParticipation.where(bet: @bet).each_with_index do |participant,index| %>

            <div class="d-flex align-items-center mb-2">
              <img class="avatar-bordered mr-2" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" style="margin-left: -16px"/>
              <span class="participant-name"><%= participant.user.nickname %></span>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
