<%= simple_form_for [@tournament, tournament_participation] do |f| %>
  <div class="d-flex justify-content-center">
    <%= f.submit "Je rejoins le tournoi" , class: "btn-new-bet" %>
  </div>
<% end %>
