.banner {
  height: 60vh;
  margin-bottom: -120px;
  margin-top: -30px;
 .photo-banner {
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
