.btn-new-bet {
  border: none;
  padding: 8px 16px;
  margin: 16px auto;
  color: $bg;
  border-radius: 30px;
  background-color: $second;
  font-weight: bolder;
  font-size: 20px;
  a {
    color: $bg;
    text-decoration: none;
  }
}

.btn-color-success {
  background-color: $success;
}

.btn-home {
  margin-bottom: -50px;
  padding: 8px 56px;
  font-size: 24px;
  font-weight: bolder;
  background-color: $success;
  color: white;
  border: solid white 2px;
  &:hover {
    background: $second;
    color: black;
    text-decoration: none;
  }
}

.btn-align-home {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.homygod-green-btn {
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
  widows: 80%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 8px 30px 20px;
  padding: 10px 20px;
  background-color: $success;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 1px 1px 4px black;
  &:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    text-align: center;
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  &:active {
    transform: scale(2);
    text-decoration: none;
    background-color: $success;
    text-align: center;
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.homygod-orange-btn {
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
  widows: 80%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: -5px 30px 20px;
  padding: 10px 20px;
  background-color: $second;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-shadow: 1px 1px 4px black;
  &:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: white;
    text-align: center;
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  &:active {
    transform: scale(2);
    text-decoration: none;
    background-color: $second;
    text-align: center;
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
}

.btn-login {
  border-radius: 5px;
  background-color: none;
  border: solid, 1px;
  text-decoration: none;
  a {
    color: black;
    text-decoration: none;
    font-size: 42px;
  }
}

.round-btn-link {
  background-color: $second;
  margin: 16px auto;
  color: black;
  border-radius: 50%;
  text-align: center;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: black;
    text-decoration: none;
    font-size: 42px;
  }
  i:first-child {
    font-size: 21px;
    position: relative;
    top: 9px;
    left: 15px;
  }
  i:last-child {
    position: relative;
    left: -8px;
  }
  a {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
}

.btn-add {
  margin-left: 8px;
  a {
    color: $second;
    font-size: 28px;
    text-decoration: none;
  }
}

#link-to-copy-input {
  background-color: black;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  &:focus {
    outline: none;
  }
}

#link-to-copy {
  border: 2px solid;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 15px;
  border-color: $second;
  &:active {
    transform: scale(1.2);
  }
}

#imageQRcode {
  margin-bottom: 16px;
}
.btn-show {
  border: 0.5px solid;
  border-radius: 30px;
  padding: 4px 16px;
  margin: 4px auto;
  a {
    color: $bg;
    text-decoration: none;
  }
}

.small-green-btn {
  border-radius: 30px;
  padding: 10px 16px;
  margin: 8px auto;
  background-color: $success;
  color: black;
}

a.small-green-btn {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.90;
  }
}


