.card-bet-participation {
  box-shadow: 0 0 15px rgba(255,255,255,.2);
}

.card-bet-participation h3 {
  font-size: 16px;
  font-weight: bold;
}

.card-bet-participation p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-bet-participation .card-bet-participation-infos {
  padding: 16px;
}
