.card-home {
  overflow: hidden;
  height: 180px;
  display: flex;
  align-items: center;
  img {
    height: 80%;
    width: 150px;
    object-fit: cover;
    border-radius: 5px;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 9px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .card-home-infos {
    padding: 16px;
  }
  .card-reverse {
    text-align: right;
  }
}
