/* Main navbar */
.navbar-brobet {
  background: $second;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 600;
  width: 100%;
}

/* Logo */
.navbar-brobet-brand img {
  height: 60px;
  padding: 8px;
}
.navbar-dropdown {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 10px;
  text-decoration: none;
  color: $second;
}

/* Hamburger Styling */
.hamburger {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 15px;
  right: 15px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 30px;
  height: 2px;

  background-color: black;
  margin-top: 7px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#toggle {
  display: none;
}

/* Hamburger Animation */
#toggle:checked + .hamburger .top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
  background-color: white;
}

#toggle:checked + .hamburger .meat {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -2px;
  background-color: white;
}

#toggle:checked + .hamburger .bottom {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  background-color: $second;
}

/* Menu Styling */
.nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav .nav-wrapper {
  position: relative;
  z-index: 500;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.nav nav {
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav nav a {
  width: 100%;
  padding: 5px 0;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #eee;
  font-weight: bold;
  opacity: 0;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav nav a:hover {
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav nav a:first-child {
  margin-top: 0;
}

/* Dropdown Animation */
#toggle:checked + .hamburger + .nav .nav-wrapper nav a {
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
}
