// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.wrapper {
  background-color: black;
  color: white;
  min-height: calc(100vh - 66px);
  padding-bottom: 60px;
}

.bet-result {
  padding: 6px;
  border-radius: 5px;

}

.winner {
  background-color: $success;
}

.loser {
  background-color: $main;
}

.color-success {
  color: $success;
}

.bg-success {
  background-color: $success;
}


.bet-background-lg {
  padding: 16px;


  background: linear-gradient(to right, #303030, $bg-light);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 16px
}
